<div class="page-header"><h2>Forgot your password?</h2></div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="control-group"><%= f.label :email %>
  <div class="controls">
  <%= f.email_field :email, autofocus: true, :class => 'form-control', style: "width:50%" %></div>
  <% if resource.errors.any? %>
    <% resource.errors.full_messages.each do |message| %>
        <% if message=~ /Email.*/ %>
        <p style="color:red;"><%= message %></p>
        <% end %>
    <% end %>
    <% end %></div><br />
  <%= f.submit "Send link to reset", :class => 'btn btn-primary' %>
<% end %>
<br />
<%= render "devise/shared/links" %>
